<div class="geolocation-container loading" ng-class="{'loading':geolocation.loading}" ng-if="mapsLoaded">
  <div class="loader-container">
    <div class="loader">Just a sec...</div>
  </div>

  <p>Navigate the map and select your event location:</p>
  <p ng-if="geolocation.selectedAddress">Would you like to set <strong>{{geolocation.selectedAddress.formatted_address}}</strong> as your event location?</p>
  <p ng-if="geolocation.error">Sorry, we seem to have encountered the following error: <strong>{{geolocation.error}}</strong>. Please try again or contact the administrator.</p>
  <map on-click="geolocation.clickHandler($event)"></map>
</div>
<button type="button" name="button" class="btn btn-large btn-success" ng-if="!mapsLoaded" ng-click="geolocation.init()">
  load maps!
</button>
